body {
  background: radial-gradient(circle, rgba(249,243,243,1) 15%, rgba(224,223,222,0.8953956582633054) 43%, rgba(231,233,244,0.9542191876750701) 69%, rgba(237,245,254,1) 100%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
